* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

body {
    background-color: var(--background_main);
    padding-bottom: 150px;
    font-family: "Figtree";
    height: 100%;
}

/* #region main */

/* #region gallery */

main {
    display: flex;
    flex-direction: column;
    padding: clamp(40px, calc(100vw * 160px / 1440px), 160px) clamp(20px, calc(100vw * 90px / 1440px), 135px);
    /* padding-bottom: 0; */
    gap: clamp(56px, calc(100vw * 80 / 1440), 80px);

    h1 {
        font-size: var(--h1_size_mobile);
        font-weight: var(--h1_weight);
        color: var(--font_color);
        text-align: center;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }

    .picture {
        width: 150px;
        height: 155px;

        img {
            width: 150px;
            height: 150px;
            border-radius: 16px;
            border: 2px rgb(18, 17, 88);
            object-fit: cover;
            transition: 0.5s ease-in-out;
            border: 2px solid rgb(18, 70, 80);
        }

        img:hover {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border: 3px solid rgb(60, 138, 164);
            border-radius: 15px;
            transform: translateY(-5px);
            transition: 0.5s ease-in-out;
            cursor: pointer;
        }
    }
}

/* #endregion gallery */

/* #region dialog */

#image-dialog.open {
    height: 80dvh;
    max-height: 700px;
    width: 90dvw;
    max-width: 900px;
    position: fixed;
    margin: auto;
    background-color: var(--background_hfd);
    border-radius: 25px;
    padding: 60px 20px 0px 20px;
    display: flex;
    justify-content: space-between;

    .dialog {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        gap: 48px;

        .dialog-header {
            display: flex;
            flex-direction: column-reverse;
            padding: 0px 10px;
            row-gap: 20px;
            height: 60px;

            h2 {
                font-size: 1.25rem;
                color: var(--font_color);
            }

            img {
                height: 14px;
            }

            .close {
                display: flex;
                justify-content: flex-end;
            }

            .close-button {
                display: flex;
                border: none;
                background: none;
                cursor: pointer;
            }
        }

        .picture-open {
            width: 100%;
            max-height: 300px;
            display: flex;
            object-fit: cover;
        }

        .dialog-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 56px;
            padding-bottom: 32px;

            div {
                width: 40px;
            }

            p {
                color: var(--font_color);
                font-size: 1rem;
            }

            button {
                display: flex;
                border: none;
                background: none;
                cursor: pointer;
                transition: 0.5s ease-in-out;
            }

            button:hover {
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
        }
    }
}

/* #endregion dialog */

/* #endregion main */

/* #region mediaqueries */

@media screen AND (max-width: 360px) {
    main {
        h1 {
            font-size: 32px;
        }
    }
}

@media screen AND (min-width: 767px) {
    main {
        h1 {
            font-size: var(--h1_size_desktop);
        }
    }

    #image-dialog.open {
        .dialog {
            .dialog-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 60px;
            }

            .picture-open {
                width: 100%;
                max-height: 375px;
                display: flex;
                object-fit: cover;
            }
        }
    }
}

/* #region Contentlimit */

@media screen AND (min-width: 1441px) {
    main {
        padding: 160px max(calc(50% - 580px), 140px);
    }
}

/* #endregion contentlimit */

/* #endregion mediaqueries */
