* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

body {
    background-color: var(--background_main);
    padding-bottom: 150px;
}

article {
    display: flex;
    flex-direction: column;
    padding: clamp(40px, calc(100vw * 160px / 1440px), 160px) clamp(30px, calc(100vw * 135px / 1440px), 135px);

    h1 {
        font-size: var(--h1_size_mobile);
        font-weight: var(--h1_weight);
        color: var(--font_color);
        text-align: center;
    }
}

/* #region mediaqueries */

@media screen AND (min-width: 769px) {
    article {
        h1 {
            font-size: var(--h1_size_desktop);
        }
    }
}

/* #region Contentlimit */

@media screen AND (min-width: 1441px) {
    article {
        padding: 160px max(calc(50% - 580px), 140px);
    }
}

/* #endregion contentlimit */

/* #endregion mediaqueries */
