* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

header {
    background-color: var(--background_hfd);
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;

    img {
        height: 32px;
    }
}
