footer {
    position: absolute;
    top: -100px;
    background-image: url(../assets/img/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 26px 0px 19px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    color: var(--font_color_footer);
    font-size: var(--font_size_footer);

    img {
        height: clamp(24px, calc(100vw * 32px / 769px), 32px);
        /* height: 24px; */
        /* width: 100px; */
    }
}
